* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

div.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #707070;
}

nav.Flexnav {
    display: flex;
    align-items: center;
    padding: 2rem;
}

ul.Flexitemnav {
    display: flex;
    align-items: center;
}

header nav ul li a {
    margin-right: 1rem;
}

div.Containerheader {
    background-color: #b4d0e7;
    padding: 5rem;
    padding-left: 10rem;
}

header h1.Positionrelative {
    position: relative;
    font-size: 4rem;
}

header p, button.Positionabsolute {
    position: absolute;
    margin-top: 2rem;
}

#p1 {
    margin-bottom: 10rem;
}

#p2 {
    margin-top: 10rem;
}

#p3 {
    margin-top: 13rem;
}

#p4 {
    margin-top: 18rem;
}

article.Flexarticle {
    display: flex;
    flex-direction: column;
}

header div section img {
    display: flex;
    margin-right: 8rem;
    margin-top: 2rem;
    width: 50%;
    height: 25%;
}

header article button {
    background-color: #186dfa;
    color: white;
    padding: .5rem;
    border-style: none;
}

header nav button {
    background-color: #186dfa;
    color: white;
    padding: .3rem;
    border-style: none;
}

div.marginleftmain {
    margin-left: 15rem;
}

main div section.paddingtop {
    background-color: #186dfa;
    padding-top: 10rem;
}

h2 {
    font-size: 2rem;
}

main div section p.pinlineblock {
    display: inline-block;
    margin-right: 2rem;
}

main section.Flextable {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

main section article {
    border: solid;
    border-color: #707070;
    padding-right: 2rem;
}

main section article p:nth-child(1) {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: #707070;
}

main section article div {
    margin-left: 3rem;
}

main section article div h3 {
    margin-top: 2rem;
}

main section article div p:nth-child(2), p:nth-child(3){
    margin-top: .5rem;
}

main section article div p:nth-child(4) {
    margin-top: 3rem;
}

main section article div p:nth-child(5) {
    margin-top: 1rem;
}

main section article div p:nth-child(6) {
    margin-top: 1rem;
}

main section article div button:nth-child(7) {
    margin-top: 3rem;
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8rem;
}

main section article div p:nth-child(8) {
    margin-top: 1rem;
}

main section article div h4:nth-child(9) {
    margin-top: 4rem;
}

main section article div p:nth-child(10) {
    margin-top: 1.3rem;
}

main section article div p:nth-child(11) {
    margin-top: 1rem;
}

main section article div p:nth-child(12) {
    margin-top: 1rem;
}

main section article div p:nth-child(13) {
    margin-top: 1rem;
}

main section article div p:nth-child(14) {
    margin-top: 1rem;
}

main section article.Article4 button {
    margin-top: 3rem;
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8rem;
}

main section article.Article4 {
    margin-top: 2rem;
}

div.Flexarticle4 {

}

main section div h3.Positionrelativeh3 {
    position: relative;
}

button.Positionabsoluteh3 {
    position: absolute;
    

}