* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.container {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #707070;
}

nav.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

ul.flex-item-nav {
    display: flex;
    align-items: center;
}

header nav ul li button {
    background-color: #186dfa;
    color: white;
    padding: .3rem;
    border-style: none;
}

header nav ul li {
    margin-right: 1rem;
}

div.container-header {
    height: 65vh;
    background-color: #b4d0e7;
    padding: 5rem;
    padding-left: 10rem;
}

header article h1 {
    position: relative;
    font-size: 4rem;
    margin-left: 17rem;
}

article.flex-header-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 3rem;
    margin-left: 17rem;
}

section.position-absolute-jumbo {
    position: absolute;
    top: 23.5rem;
    left: 49rem;
}

article.flex-header-article p:nth-child(3) {
    padding-top: 2rem;
}

article.flex-header-article button {
    margin-top: 2rem;
}

header div section img {
    display: flex;
    width: 800px;
    height: 450px;
}

header article button {
    background-color: #186dfa;
    color: white;
    padding: .5rem;
    border-style: none;
}


main div section.paddingtop {
    padding-top: 10rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

main div section p.p-inlineblock {
    display: inline-block;
    margin-right: 2rem;
}

main section.flex-table {
    display: flex;
    padding-top: 3rem;
}

main section.flex-table article {
    border: solid;
    border-color: #707070;
    margin-right: 3rem;
}

main section article.article-single {
    border: solid;
    border-color: #707070;
    margin-right: 3rem;
}

main section div.padding-div {
    padding: 3rem;
}

main section article p:nth-child(1) {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: #707070;
}

main section article div h3 {
    margin-top: 2rem;
}

p.padding-plus {
    padding-bottom: 3rem;
}

main section article div p:nth-child(2), p:nth-child(3){
    margin-top: .5rem;
}

main section article div p:nth-child(4) {
    margin-top: 3rem;
}

main section article div p:nth-child(5) {
    margin-top: 1rem;
}

main section article div p:nth-child(6) {
    margin-top: 1rem;
}

main section article div p.p-spaziorem {
    margin-bottom: -.1rem;
}

main section article div button:nth-child(7) {
    margin-top: 3rem;
    background-color: #186dfa;
    color: white;
    border: none;
    padding: .8rem;
}

main section article div p:nth-child(8) {
    margin-top: 1rem;
}

main section article div h4:nth-child(9) {
    margin-top: 4rem;
}

main section article div p:nth-child(10) {
    margin-top: 1.3rem;
}

main section article div p:nth-child(11) {
    margin-top: 1rem;
}

main section article div p:nth-child(12) {
    margin-top: 1rem;
}

main section article div p:nth-child(13) {
    margin-top: 1rem;
}

main section article div p:nth-child(14) {
    margin-top: 1rem;
}

main section article.article-single button {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 37rem;
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8rem;
}

main section article.article-single {
    margin-top: 2rem;
}

main section article div h3.inlineblockh3 {
    display: inline-block;
}

main section article div p.div-p-padding-bottom {
    padding-bottom: 2rem;
}

main section.img-partner-flex  {
    display:flex;
    align-items: center;
    padding-top: 8rem;
}

main section img.img-partner {
    width: 50%;
    height: 25%;
}

main section div.testo-img-partner {
    padding-bottom: 8rem;
    padding-left: 3rem;
}

main section div.testo-img-partner h3 {
    margin-bottom: 1rem;
}

section div.testo-img-partner button {
    margin-top: 1rem;
    border-radius: 0;
    padding: .5rem;
    border-style: solid;
    border-color: black;
    background-color: white;
}

main section.flex-container-imgs {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

main section div.flex-div {
    display: flex;
    margin-bottom: 4rem;
}

main section div img.img-window {
    width: 100%;
}

article.scopri-di-più {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

main section.section-flex-container-big {
    display: flex;
    justify-content: center;
    align-items: center;
}

article.article-flex-quadrati4 {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color: #f5f5f5;
}

div.div-flex-2 {
    display: flex;
}

div.div-img-1 {
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2d39b;
}

div.div-img-1 img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

div.div-img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #61082b;
}

div.div-img-2 img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

div.div-img-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #0093ce;
}

div.div-img-3 img {
    height: 100px;
    width: 200px;
    filter: invert(1);
}

div.div-img-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #ff1c1c;
}

div.div-img-4 img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

div.div-img-1b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #d5001f;
}

div.div-img-1b img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

div.div-img-2b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #b4d0e7;
}

div.hdiv-img-2b img {
    height: 50%;
    width: 40%;
    filter: invert(1);
}

div.div-img-3b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #0d2481;
}

div.div-img-3b img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

div.div-img-4b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    background-color: #ffd830;
}

div.div-img-4b img {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

img.designit {
    margin-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 50%;
}

p.testo-quadrato-singolo {
    margin-left: 3rem;
}

p.firma {
    margin-left: 3rem;
    padding-top: 3rem;
}

section.end-main {
    display: flex;
    background-color: #b4d0e7;
    padding: 5rem;
    padding-left: 25rem;
    font-size: 2rem;
    color: #723756;
}

section.end-main button {
    margin-left: 8rem;
    border-style: none;
    background-color: white;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

section.domande-frequenti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15rem;
}

section.domande-frequenti h4 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

section.domande-frequenti ul li {
    margin-bottom: 4rem;
}

div.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10rem;
}

footer p {
    padding: 3rem;
    padding-left: 30rem;
    display: flex;
    background-color: black;
    color: white;
}

footer nav ul li {
    margin-right: 3rem;
    margin-bottom: 1rem;
}